/* Common styles for both desktop and mobile */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  /* color: #26589F; */
}

body {
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  margin-top: 15px;
  height: 42px;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Logo {
  border-radius: 2px;
  padding: 5px;
}

.Logo:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.LogoLink {
  text-decoration: none;
  color: #a014dd;
}

.text-decoration {
  text-decoration: none;
  margin-right: 8px;
  color: #000;
  /* Set your default color */
}

.text-decoration:hover {
  color: rgb(116, 131, 143);
}

.links {
  color: aliceblue;
  margin-left: 5%;
  font-weight: 500;
}

.contactsUs {
  padding: 5px;
  border-radius: 3px;
  background: none;
  color: aliceblue;
  background-color: #a014dd;
}

.contactsUs:hover {
  background-color: #a35bc2;
  transform: scale(1.1);
  transition-duration: 200ms;
}

.contact-text {
  text-decoration: none;
  color: aliceblue;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
  width: 100%;
}

.Right {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Image {
  margin-top: 30px;
  border: 2px solid black;
  position: relative;
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.Image:hover{
  transform: scale(1.1);
    transition-duration: 200ms;
}

.upperText {
  color: rgb(50, 118, 255);
  font-weight: 610;
  font-size: small;
}

.headerLeft {
  margin-top: 10px;
}

.Introduction {
  margin-top: 30px;
}

h1 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

.buttonDiv {
  margin-top: 30px;
}

.StartNow,
.TakeTour {
  padding: 10px;
  border-radius: 3px;
  color: aliceblue;
  cursor: pointer;
}

.StartNow {
  background-color: #a014dd;
}
.StartNow:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.TakeTour {
  margin-top: 10px;
  background-color: black;
  margin-left: 30px;
}

.TakeTour:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}
.NavBarLogo {
  height: 25px;
}

.TopCompanies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  margin-top: 25px;
  color: white;
  /* background-color: #A014DD; */
}

.companiesLogo {
  background-color: rgba(139, 134, 134, 0.053);
  /* height: 120px; */
  padding: 30px;
  gap: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.googleLogo {
  height: 20px;
}

.Netflix-Logo {
  height: 100px;
}

.linkedin-Logo {
  height: 120px;
}
.trustByTopCompanies {
  background: -webkit-linear-gradient(#8336e1, #d753e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.competitiveSection {
  background-color: rgba(139, 134, 134, 0.053);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.competitveText {
  margin-top: 20px;
  width: fit-content;
  block-size: fit-content;
  margin: 10px 26%;
}
.companiesLogo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  background-color: #a193b2;
  gap: 20px;
}

.cards {
  height:200px;
  width: 250px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  block-size: fit-content;
  justify-content: center;
  
  
  
}
/* Media Query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
  .nav-bar {
    flex-direction: column;
    text-align: center;
  }

  .Logo,
  .text-decoration,
  .links,
  .contactsUs {
    margin-left: 0;
    margin-right: 0;
  }

  .left,
  .Right {
    width: 100%;
  }
}
